<div class="matrix-container">
  <!-- Grab the row index -->
  @for (row of matrix; track $index; let rowIndex = $index) {
    <div class="matrix-row">

      <!-- Grab the column index -->
      @for (cell of row; track cell.value; let colIndex = $index) {

        <!-- Listen for the event and pass the coordinates -->
        <app-box
          [data]="cell"
          [role]="currentRole"
          [isFlipped]="isBoardFlipped"
          (boxClicked)="handleBoxClick(rowIndex, colIndex)">
        </app-box>

      }
    </div>
  }
</div>
